<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
					value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="File" value="/logs/secSkill.log" /> -->
		<param name="File" value="C:\\Users\\IBM_ADMIN\\Desktop\\log\\secSkill.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="debug" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>
	<appender name="AdministratorEmail" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="1" />
		<param name="SMTPHost" value="ap.relay.ibm.com" />
		<param name="From" value="gssmail@us.ibm.com" />
		<param name="To" value="bjhuang@cn.ibm.com" />
		<param name="Subject" value="test log4j" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>
  
	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="AdministratorEmail" /> 
	</root>

</log4j:configuration>
